<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="EntitiesConnectionString" connectionString="metadata=res://Database/DataModel1.csdl|res://Database/DataModel1.ssdl|res://Database/DataModel1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;persistsecurityinfo=True;server=185.106.120.107;user id=admin;password=0O2z6T7e&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>